
@{
    ViewBag.Title = "viewlogin";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@using tourTravels.Models
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/homecontact.css" rel="stylesheet" />
<body style="background-image:url(../../Content/image/pexels-nandhu-kumar-450441.jpg);background-size:100% 100%;background-attachment:fixed">
    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h1 style="color:white"><span id="sp"></span>View contact</h1>

            </div>
            <div class="row">

                @{
                    DBManager db = new DBManager();
                    string cmd = "select * from tbl_login";
                    System.Data.DataTable dt = db.getallrecord(cmd);
                    if (dt.Rows.Count > 0)
                    {
                        <table class="table table-responsive table-bordered">
                            <tr style="color:white" class="text text-center">
                                <td>No</td>
                                <td>Userid</td>
                                <td>password</td>
                                <td>count</td>
                                <td>type</td>
                                <td>status</td>
                                <td>login date</td>
                                <td>Action</td>
                            </tr>


                            @{ for (int i = 0; i < dt.Rows.Count; i++)
                                {
                                    <tr style="color:white" class="text text-center">
                                        <td class="td1">@dt.Rows[i]["lid"]</td>
                                        <td>@dt.Rows[i]["userid"]</td>
                                        <td>@dt.Rows[i]["password"]</td>
                                        <td>@dt.Rows[i]["lcount"]</td>
                                        <td>@dt.Rows[i]["type"]</td>
                                        <td>@dt.Rows[i]["status"]</td>
                                        <td>@dt.Rows[i]["ldate"]</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                            <i class="fa fa-close"></i>

                                        </td>

                                    </tr>
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <h2 class="text text-center">Record not found</h2>
                    }

                }
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>
    <script>
        $(document).ready(function () {
            $(".fa-close").hide();
            $(".fa-check").css({ "cursor": "pointer", "color": "red" })
            $(".fa-check").click(function () {
                var id = $(this).closest("tr").find(".td1").text();

                $.ajax({
                    type: "post",
                    url: "/home/Allowblock",
                    data: { Id: id },
                    success: function (data) {
                        alert(data)
                    }
                })
            })
        })
    </script>
    </body>





