
@{
    ViewBag.Title = "viewRegistration";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@using tourTravels.Models
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            //disable sorting on last column
            "columnDefs": [
                { "orderable": false, "targets": 5 }
            ],
            language: {
                //customize pagination prev and next buttons: use arrows instead of words
                'paginate': {
                    'previous': '<span class="fa fa-chevron-left"></span>',
                    'next': '<span class="fa fa-chevron-right"></span>'
                },
                //customize number of elements to be displayed
                "lengthMenu": 'Display <select class="form-control input-sm">' +
                    '<option value="10">10</option>' +
                    '<option value="20">20</option>' +
                    '<option value="30">30</option>' +
                    '<option value="40">40</option>' +
                    '<option value="50">50</option>' +
                    '<option value="-1">All</option>' +
                    '</select> results'
            }
        })
    });
</script>

<body>
    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h1 style="color:#d50000"><span id="sp"></span>View Registration</h1>

            </div>
            <div class="row table-responsive-lg">

                @{
                    DBManager db = new DBManager();
                    string cmd = "select * from registration";
                    System.Data.DataTable dt = db.getallrecord(cmd);
                    if (dt.Rows.Count > 0)
                    {
                       
                        <table class="table table-bordered table-hover"  id="example">
                            <thead>
                                <tr class="text text-center">
                                    <th style="background-color:#d50000">No</th>
                                    <th style="background-color:#d50000">Name</th>
                                    <th style="background-color:#d50000">Email</th>
                                    <th style="background-color:#d50000">Mobile</th>
                                    <th style="background-color:#d50000">Password</th>
                                    <th style="background-color:#d50000">Reg. Date</th>



                                </tr>
                            </thead>


                            @{ for (int i = 0; i < dt.Rows.Count; i++)
                                {
                                    <tbody>
                                        <tr style="color:white" class="text text-center">

                                            <td>@dt.Rows[i]["rid"]</td>
                                            <td>@dt.Rows[i]["name"]</td>
                                            <td>@dt.Rows[i]["email"]</td>
                                            <td>@dt.Rows[i]["mobile"]</td>
                                            <td>@dt.Rows[i]["password"]</td>
                                            <td>@dt.Rows[i]["date"]</td>




                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <h2 class="text text-center">Record not found</h2>
                    }

                }
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>




    <!--<div id="contact" class="contact-area section-padding" style="background-color:aliceblue">
        <div class="container">
            <div class="section-title text-center">


            </div>



                DBManager db = new DBManager();
                string cmd = "select * from registration";
                System.Data.DataTable dt = db.getallrecord(cmd);
                if (dt.Rows.Count > 0)
                {

            }
        </div>-->
    <!--- END ROW -->
    <!--</div>--><!--- END CONTAINER -->

</body>




